extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div(ng-controller="indexController")
    | Welcome to Node - Angular Starter

append javascripts
  script(src="/javascripts/controllers/indexController.js")
